a {
    color: $clr-link;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
        color: $clr-link--hover;
    }
    
    &.highlight {
        color: $clr-contrast;
        
        &:hover {
            color: $clr-dark;
        }
    }  

    &#github:hover {
        color: $clr-purple--hover;
    } 

    &#twitter:hover {
        color: $clr-twitter;
    } 

    &#google-plus:hover {
        color: $clr-google-plus;
    } 

    &#linkedin:hover {
        color: $clr-linkedin;
    } 

}

/* Language Panel
 * --------------------------------------- */

#lang-panel {
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 5px;
    z-index: 100;
    font-size: $ft-sz-smer;
    
    .lang {
        display: inline-block;
        border-radius: 5px;
        padding: 2px 8px;
        
        &.selected {
            background-color: $clr-light;
            color: $clr-dark;
            cursor: default;
        }
    }
}

/* Page Navigation
 * --------------------------------------- */

#nav-panel {
    position: absolute;
    left: 20px;
    top: 20px;

    #menu {
      li {
        display: inline-block;
        margin: 10px;
        color: #000;
        background: #fff;
        background: rgba(255, 255, 255, 0.5);
        -webkit-border-radius: 10px;
        border-radius: 8px;
        &.active {
          background: #666;
          background: rgba(0, 0, 0, 0.5);
          color: #fff;
        }
        a {
          text-shadow: 1px 2px $clr-primary, 2px 4px $clr-light;
          text-decoration: none;
          color: #000;
        }
        &.active a:hover {
          color: #000;
        }
        &:hover {
          background: rgba(255, 255, 255, 0.8);
        }
        a {
          padding: 9px 18px;
          display: block;
        }
        &.active a {
          padding: 9px 18px;
          display: block;
          color: #fff;
        }
      }
      position: fixed;
      top: 20px;
      left: 20px;
      height: 40px;
      z-index: 70;
      width: 100%;
      padding: 0;
      margin: 0;
    }

}



