a {
    color: $clr-link;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
        color: $clr-link--hover;
    }
    
    &.highlight {
        color: $clr-contrast;
        
        &:hover {
            color: $clr-dark;
        }
    }  

    &#github:hover {
        color: $clr-purple--hover;
    } 

    &#twitter:hover {
        color: $clr-twitter;
    } 

    &#google-plus:hover {
        color: $clr-google-plus;
    } 

    &#linkedin:hover {
        color: $clr-linkedin;
    } 

}



#lang-panel {
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 5px;
    z-index: 100;
    font-size: $ft-sz-smer;
    
    .lang {
        display: inline-block;
        border-radius: 5px;
        padding: 2px 8px;
        
        &.selected {
            background-color: $clr-light;
            color: $clr-dark;
            cursor: default;
        }
    }
}

#nav-panel {
  position: absolute;
  left: 20px;
  top: 20px;
  border-radius: 5px;
  z-index: 100;
  font-size: 0.8em;
}
